.calendar {
  width: 32px;
  height: 32px;
}

.chevronleft {
  width: 32px;
  height: 32px;
}

.chevronright {
  width: 32px;
  height: 32px;
}

.linkedin {
  width: 32px;
  height: 32px;
}

.twitter {
  width: 32px;
  height: 32px;
}

