.single-post {
  h1 {
    margin-top: 3rem;
  }
  article {
    @include outer-container();
    @include mobile-padding();
    header, div {
      @include span-columns(12);
      @include media($tablet) {
        @include span-columns(8);
        &:not(.entry-meta) {
          @include shift(2);
        }
      }
    }
    header {
      margin-bottom: 1rem;
    }
    a {
      color: $rp-red;
    }
    .entry-content {
      img {
        border: 1px solid #ddd;
      }
    }
  }
}

.page-template-blog {
  .section-heading {
    margin-bottom: 2rem;
    @include media($tablet) {
      margin-bottom: 4rem;
    }
  }
}


.row.post-summary {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  .post-summary_img {
    display: none;
    img {
      border: 1px solid #ddd;
      margin-bottom: 1rem;
    }
    @include media($tablet) {
      @include span-columns(3);
    }
    @include media($desktop-sml) {
      @include span-columns(2);
    }
  }
  .post-summary_text {
    @include span-columns(11);
    @include media($tablet) {
      @include span-columns(9);
    }
    h3 {
      margin-top: 0;
      margin-bottom: .5rem;
      line-height: 1;
      a {
        text-decoration: none;
      }
    }
    a {
      color: $rp-red;
    }
    .read-more {
      display: inline-block;
      margin-left: .5rem;
      &:before {
        content: '...';
        text-decoration: none;
      }
    }
  }
}
