.section-heading {
  margin-bottom: 4rem;
}

.row.post-summary {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  .post-summary_img {
    @include span-columns(2);
  }
  .post-summary_text {
    @include span-columns(9);
    h3 {
      margin-top: 0;
      margin-bottom: .5rem;
      line-height: 1;
    }
    .read-more {
      display: inline-block;
      margin-left: .5rem;
      &:before {
        content: '...';
        text-decoration: none;
      }
    }
  }
}
