.page-template-contact-me {

  .site-main {
    margin-top: 8rem;
    @include outer-container();
    @include mobile-padding();
    @include media($tablet) {
      margin-top: 11rem;
    }
  }
  article {
    @include span-columns(12);
    @include media($tablet) {
      @include span-columns(6);
      @include shift(3);
    }
  }
  .ninja-forms-form-wrap {
    .ninja-forms-required-items {
      margin-bottom: 1rem;
    }
    .ninja-forms-error-msg {
      display: none;
    }
    input {
      padding: .5rem;
      border: 1px solid $rp-copy-grey;
    }
    textarea {
      border: 1px solid $rp-copy-grey;
    }
    .ninja-forms-success-msg {
      min-height: 300px;
    }
  }

  input[type="submit"] {
    display: inline-block;
    position: relative;
    margin-top: 1rem;
    padding: .75rem 1.5rem;
    font-size: rem(18);
    color: #fff;
    background: $rp-blue;
    border: 1px solid;
    text-decoration: none;
    transition: all 0.25s ease;
    width: 100%;
    @include media($tablet) {
      width: auto;
    }
    &:hover, &:focus {
      background: #fff;
      color: $rp-blue;
    }
  }

}
