.header-wrapper {
  background: $rp-red;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

.site-header {
  @include outer-container();
  @include mobile-padding();
  position: relative;
  height: 90px;
  color: #fff;
  @include media($tablet) {
    height: 110px;
  }
  .logo {
    float: left;
    position: relative;
    top: 18px;
    width: rem(60);
    height: rem(60);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    text-decoration: none;
    @include media($tablet) {
      width: rem(75);
      height: rem(75);
    }
    span {
      position: absolute;
      top: .8rem;
      right: 0;
      font-family: 'Ziggurat', Georgia, "Times New Roman", Times, serif;
      font-style: italic;
      font-size: rem(30);
      text-decoration: none;
      color: $rp-red;
      @include media($tablet) {
        font-size: rem(35);
      }
    }
  }
  .main-navigation {
    position: absolute;
    right: 1rem;
    bottom: 0;
    ul {
      margin-bottom: 0;
      li {
        list-style-type: none;
        display: inline-block;
        margin-right: 2rem;
        &:last-child {
          margin-right: 0;
        }
        a {
          display: inline-block;
          padding-bottom: 1rem;
          color: #fff;
          font-size: rem(18);
          text-decoration: none;
          position: relative;
          &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            background: #fff;
            width: 0;
            height: 4px;
            transition: all 0.25s ease;
          }
          &:hover {
            // text-decoration: underline;
            &:after {
              width: 100%;
            }
          }
        }
        &.current_page_item {
          a {
            &:after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
