.the-big-picture {
  width: 100%;
  height: calc(100vh - 110px);
  background: url('assets/imgs/hero-img_lrg.jpg');
  background-size: cover;
  position: relative;
  margin-top: 110px;
  header {
    @include outer-container();
    position: relative;
  }
  h1 {
    position: absolute;
    right: 0;
    top: rem(30);
    font-family: 'Ziggurat', Georgia, "Times New Roman", Times, serif;
    font-size: rem(40);
    font-weight: normal;
    color: $rp-red;
    text-align: right;
    span {
      display: block;
      font-size: rem(30);
      font-style: italic;
    }
  }
}

.site-main {
  // @include outer-container();
}

.about-me {
  @include outer-container();
  section {
  @include span-columns(8);
  }
  margin-top: 4rem;
}

.ghost-btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .1rem 1.5rem;
  color: $rp-blue;
  border: 1px solid;
  text-decoration: none;
  &:hover, &:focus {
    background: $rp-blue;
    color: #fff;
  }
}
