.the-big-picture {
  width: 100%;
  height: calc(100vh - 80px);
  background: url('assets/imgs/hero-img_lrg.jpg');
  background-size: cover;
  position: relative;
  margin-top: 80px;
  header {
    @include outer-container();
    position: relative;
  }
  h1 {
    position: absolute;
    right: 0;
    top: rem(30);
    font-family: 'Ziggurat', Georgia, "Times New Roman", Times, serif;
    font-size: rem(40);
    color: $rp-red;
    text-align: right;
    span {
      display: block;
      font-size: rem(30);
      font-style: italic;
    }
  }
}

.site-main {
  @include outer-container();
}

.about-me {
  @include span-columns(8);
  margin-top: 3rem;
}
