.header-wrapper {
  background: $rp-red;
  position: fixed;
  z-index: 99;
  width: 100%;
}

.site-header {
  @include outer-container();
  color: #fff;
  h1, p {
    margin-top: 0;
  }
}

.the-big-picture {
  width: 100%;
  height: 100vh;
  background: url('assets/imgs/hero-img_lrg.jpg');
  background-size: cover;
}

.site-main {
  @include outer-container();
}

.about-me {
  @include span-columns(8);
}
