body.single, body.page-template-my-work {
  margin-top: 90px;
  @include media($tablet) {
    margin-top: 110px;
  }
}

body > svg {
  position: absolute;
}

.row {
  @include outer-container();
}

.full-width-3 {
  @include clearfix;
  width: 100%;
  margin-top: 4rem;
  overflow: hidden;
  &.project {
    margin-top: 0;
  }
  .title-block {
    @include outer-container();
    margin-bottom: -2.6rem;
    position: relative;
    z-index: 99;
    h2 {
      background: $rp-red;
      color: #fff;
      display: inline-block;
      padding: .33rem 1rem;
      line-height: 1.5;
    }
  }
  .fw-3-col {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    @include media($tablet) {
      width: 33.3333%;
    }
    img {
      display: block;
      transition: all 0.5s ease;
    }
    .project-info {
      text-align: center;
      position: absolute;
      background: rgba(0, 0, 0, .6);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 2rem;
      opacity: 0;
      -ms-transform: scale(1.25,1.25); /* IE 9 */
      -webkit-transform: scale(1.25,1.25); /* Safari */
      transform: scale(1.25,1.25);
      transition: all 0.5s ease;
      h3 {
        margin-top: 25%;
        color: #fff;
      }
      p {
        color: #fff;
      }
    }
    .post-info {
        position: absolute;
        text-align: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 2rem;
        background: rgba(0, 0, 0, .6);
        h3 {
          margin-top: 25%;
          color: #fff;
        }
        p {
          color: #fff;
        }
    }
    &:hover {
      img {
        filter: blur(6px);
        -webkit-filter: blur(6px);
        -moz-filter: blur(6px);
        -ms-filter: blur(6px);
        -o-filter: blur(6px);
      }
      .project-info {
        -ms-transform: scale(1,1); /* IE 9 */
        -webkit-transform: scale(1,1); /* Safari */
        transform: scale(1,1);
        opacity: 1;
        h3 {
          margin-top: 25%;
        }
        p {

        }
      }
    }
  }
}

.section-heading {
  width: 100%;
  background: $rp-blue;
  h2 {
    @include outer-container();
    color: #fff;
    margin: 0 auto;
    padding: .5rem 0;
  }
}
