body.single, body.page-template-my-work {
  margin-top: 110px;
}

body > svg {
  position: absolute;
}

.row {
  @include outer-container();
}

.full-width-3 {
  @include clearfix;
  width: 100%;
  margin-top: 4rem;
  overflow: hidden;
  &.project {
    margin-top: 0;
  }
  .title-block {
    @include outer-container();
    margin-bottom: -2.6rem;
    position: relative;
    z-index: 99;
    h2 {
      background: $rp-red;
      color: #fff;
      display: inline-block;
      padding: .33rem 1rem;
      line-height: 1.5;
    }
  }
  .fw-3-col {
    float: left;
    width: 100%;
    position: relative;
    @include media($tablet) {
      width: 33.3333%;
    }
    img {
      display: block;
    }
    .project-info {
      text-align: center;
      position: absolute;
      background: rgba(0, 0, 0, .5);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 2rem;
      opacity: 0;
      transition: all 0.5s ease;
      h3 {
        margin-top: 25%;
        color: #fff;
      }
      p {
        color: #fff;
      }
    }
    .post-info {
        position: absolute;
        text-align: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 2rem;
        background: rgba(0, 0, 0, .5);
        h3 {
          margin-top: 25%;
          color: #fff;
        }
        p {
          color: #fff;
        }
    }
    &:hover {
      .project-info {
        opacity: 1;
        h3 {
          margin-top: 25%;
        }
        p {

        }
      }
    }
  }
}

.section-heading {
  width: 100%;
  background: $rp-blue;
  h2 {
    @include outer-container();
    color: #fff;
    margin: 0 auto;
    padding: .5rem 0;
  }
}
