body.single, body.page-template-my-work, body.page-template-blog, body.page {
  margin-top: 90px;
  @include media($tablet) {
    margin-top: 110px;
  }
}

body > svg {
  position: absolute;
}

.row {
  @include outer-container();
  @include mobile-padding();
}

.full-width-3 {
  @include clearfix;
  width: 100%;
  overflow: hidden;
  &.project {
    margin-top: 0;
  }
  .fw-3-col {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    @include media($tablet) {
      width: 33.3333%;
    }
    img {
      display: block;
      transition: all 0.5s ease;
    }

    .post-info {
        position: absolute;
        text-align: center;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 2rem;
        background: rgba(0, 0, 0, .6);
        h3 {
          margin-top: 0;
          color: #fff;
            font-size: rem(20);
          @include media($tablet) {
            margin-top: 10%;
          }
          @include media($desktop-lrg) {
            margin-top: 20%;
              font-size: rem(24);
          }
        }
        p {
          color: #fff;
        }
    }

  }
}

.title-block {
  @include outer-container();
  margin-top: 3rem;
  margin-bottom: -2.6rem;
  position: relative;
  z-index: 99;
  h2 {
    background: $rp-red;
    color: #fff;
    display: inline-block;
    padding: .33rem 1rem;
    line-height: 1.5;
    margin-left: 40px;
      @include media($tablet) {
        margin-left: 0;
      }
  }
}

.section-heading {
  width: 100%;
  background: $rp-blue;
  h2 {
    @include outer-container();
    @include mobile-padding();
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
    color: #fff;
    margin: 0 auto;
    @include media($tablet) {

    }
  }
}
