.page-template-my-work {
  .projects {
    @include outer-container();
    .project {
      @include span-columns(6);
    }
  }
}

body.single {
  .project-heading {
    overflow: hidden;
    margin-top: -2rem;
    padding: 1rem 1.5rem;
    position: relative;
    z-index: 99;
    background: $rp-red;
    color: #fff;
    h2 {
      color: #fff;
      float: left;
      margin: 0;
      line-height: 1rem;
    }
    ul {
      float: right;
      margin: 0;
    }
    li {
      list-style-type: none;
      display: inline-block;
      padding-left: 1.75rem;
      margin-right: 1.25rem;
      background: url('assets/imgs/skill-list-check.svg') left center no-repeat;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .section-heading {
    margin-bottom: 0;
  }
  section {
    @include outer-container();
    .project-description {
       @include span-columns(8);
       @include shift(2);
       margin-top: 3rem;
    }
  }
}

.page-template-my-work {
  .site-main {

  }
}
