body.single {
  margin-top: 110px;
  .project-heading {
    overflow: hidden;
    margin-top: -2rem;
    padding: 1rem;
    position: relative;
    z-index: 99;
    background: $rp-red;
    color: #fff;
    h2 {
      color: #fff;
      float: left;
      margin: 0;
      line-height: 1;
    }
    ul {
      float: right;
      margin: 0;
    }
    li {
      list-style-type: none;
      display: inline-block;
    }
  }
  section {
    @include outer-container();
  }
}
