.project-block {
  img {
    display: block;
    transition: all 0.5s ease;
  }
  .project-info {
    text-align: center;
    position: absolute;
    background: rgba(0, 0, 0, .6);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2rem;
    opacity: 0;
    -ms-transform: scale(1.25,1.25); /* IE 9 */
    -webkit-transform: scale(1.25,1.25); /* Safari */
    transform: scale(1.25,1.25);
    transition: all 0.5s ease;
    h3 {
      margin-top: 25%;
      color: #fff;
    }
    p {
      color: #fff;
    }
  }
  &:hover {
    img {
      filter: blur(6px);
      -webkit-filter: blur(6px);
      -moz-filter: blur(6px);
      -ms-filter: blur(6px);
      -o-filter: blur(6px);
    }
    .project-info {
      -ms-transform: scale(1,1); /* IE 9 */
      -webkit-transform: scale(1,1); /* Safari */
      transform: scale(1,1);
      opacity: 1;
      h3 {
        margin-top: 25%;
      }
    }
  }
}

.touchevents {
  .project-block {
    .project-info {
      opacity: 1;
      height: 4rem;
      padding: 1rem;
      -ms-transform: scale(1,1); /* IE 9 */
      -webkit-transform: scale(1,1); /* Safari */
      transform: scale(1,1);
      h3 {
        margin-top: -5px;
      }
    }
  }
  .projects {
    .project-block {
      .project-info {
        h3 {
          // margin-top: 0;
        }
      }
    }
  }
}
