@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);

body.page-template-star-wars-mode {
  width: 100%;
  height: 100%;
  font: 700 1em "News Cycle", sans-serif;
  letter-spacing: .15em;
  color: #F8E81C;
  overflow: hidden;
  margin: 0;
}

.starwars {
  background: #000;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  section {
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 1;
    &.intro {
      width: 90%;
      margin: 0 0 0 -45%;
      top: 35%;
      font-size: 200%;
      font-weight: 400;
      color: #4bd5ee;
      opacity: 0;
      -webkit-animation: intro 6s ease-out 1s;
              animation: intro 6s ease-out 1s;
      @include media($tablet) {
        top: 45%;
        width: 15em;
        margin: 0 0 0 -7.5em;
      }
    }
    &.logo {
      opacity: 0;
      -webkit-animation: logo 9s ease-out 9s;
              animation: logo 9s ease-out 9s;
      svg {
        width: 50%;
        margin-left: 25%;
        @include media($tablet) {
          width: inherit;
          margin-left: 0;
        }
      }
    }
    &.titles {
      width: 90%;
      margin: 0 0 0 -45%;
      top: auto;
      bottom: 0;
      height: 50em;
      font-size: 150%;
      text-align: justify;
      overflow: hidden;
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      -webkit-transform: perspective(300px) rotateX(25deg);
      transform: perspective(300px) rotateX(25deg);
        @include media($tablet) {
          width: 14.65em;
          margin: 0 0 0 -7.325em;
          font-size: 350%;
        }
      > div {
        position: absolute;
        top: 100%;
        -webkit-animation: titles 81s linear 13s;
                animation: titles 81s linear 13s;
      > p {
        margin: 1.35em 0 1.85em 0;
        font-size: 22px;
        line-height: 1.35em;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        @include media($tablet) {
          font-size: 52px;
        }
      }
      }
    }
  }
}


.end-credits {
  position: absolute;
  width: 50%;
  left: 25%;
  top: 30%;
  text-align: center;
  display: none;
  z-index: 999;
  p {
    font-weight: normal;
  }
  a {
    color: #F8E81C;
  }
  @include media($tablet) {
    top: 45%;
  }
}



@-webkit-keyframes intro {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes logo {
  0% {
    width: 18em;
    margin: -9em 0 0 -9em;
    -webkit-transform: scale(2.75);
    transform: scale(2.75);
    opacity: 1;
  }
  50% {
    opacity: 1;
    width: 18em;
    margin: -9em 0 0 -9em;
  }
  100% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0;
    width: 18em;
    margin: -9em 0 0 -9em;
  }
}
@keyframes logo {
  0% {
    width: 18em;
    margin: -9em 0 0 -9em;
    -webkit-transform: scale(2.75);
    transform: scale(2.75);
    opacity: 1;
  }
  50% {
    opacity: 1;
    width: 18em;
    margin: -9em 0 0 -9em;
  }
  100% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0;
    width: 18em;
    margin: -9em 0 0 -9em;
  }
}
@-webkit-keyframes titles {
  0% {
    top: 100%;
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    top: 20%;
    opacity: 0;
  }
}
@keyframes titles {
  0% {
    top: 100%;
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    top: 20%;
    opacity: 0;
  }
}





.exit-btn {
  display: block;
  position: absolute;
  right: 1rem;
  top: 1rem;
  // padding-right: 5rem;
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  > span {
    font-size: 14px;
  }
  .toggle-icon {
  	display: block;
  	position: absolute;
    top: -1rem;
    right: 0;
  	-webkit-transition: margin 500ms;
  	-moz-transition: margin 500ms;
  	transition: margin 500ms;
  	cursor: pointer;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    .bar {
      display: block;
    	width: 3em;
    	height: 0.2em;
    	margin: 0.9em;
    	border-right: 2.2em solid #fff;
    	border-left: 0.6em solid #d6d6d6;
    	-webkit-box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	box-sizing: border-box;
    	-webkit-transition-property: -webkit-transform, margin, border-right-color, box-shadow;
    	-moz-transition-property: -moz-transform, margin, border-right-color, box-shadow;
    	transition-property: transform, margin, border-right-color, box-shadow;
    	-webkit-transition-duration: 500ms;
    	-moz-transition-duration: 500ms;
    	transition-duration: 500ms;
      &:nth-of-type(1) {
        margin-left: 1.4em;
    		-webkit-transform: rotate(-137deg) translateY(-1.5em);
    		-moz-transform: rotate(-137deg) translateY(-1.5em);
    		-ms-transform: rotate(-137deg) translateY(-1.5em);
    		-o-transform: rotate(-137deg) translateY(-1.5em);
    		transform: rotate(-137deg) translateY(-1.5em);
      }
      &:nth-of-type(2) {
        margin-left: 0.5em;
    		-webkit-transform: rotate(-42deg);
    		-moz-transform: rotate(-42deg);
    		-ms-transform: rotate(-42deg);
    		-o-transform: rotate(-42deg);
    		transform: rotate(-42deg);
      }
    }
  }
  &:hover {
    .toggle-icon {
      .bar {
        &:nth-of-type(1) {
          border-right-color: #e9b8b9;
        	box-shadow: 0.4em 0 0.6em 0.1em rgba(205,40,44,0.75);
        }
        &:nth-of-type(2) {
          border-right-color: #ddf1da;
        	box-shadow: 0.4em 0 0.6em 0.1em rgba(83,228,68,0.65);
        }
      }
    }
  }
}
