@font-face {
    font-family: 'Ziggurat';
    src: url('assets/fonts/ziggurat-htf-black-webfont.eot');
    src: url('assets/fonts/ziggurat-htf-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/ziggurat-htf-black-webfont.woff') format('woff'),
         url('assets/fonts/ziggurat-htf-black-webfont.ttf') format('truetype'),
         url('assets/fonts/ziggurat-htf-black-webfont.svg#ZigguratHTFBlackRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* font-family: 'Ziggurat', Georgia, "Times New Roman", Times, serif; */

body {
  font-family: "proxima-nova",sans-serif;
  color: $rp-copy-grey;
}

h3, h4, .single-post h1, .page h1 {
  font-family: "clarendon-urw",serif;
  font-weight: 500;
  font-size: rem(26);
  color: $rp-red;
}

h2 {
  font-family: "clarendon-urw",serif;
  font-weight: 500;
  color: $rp-red;
  font-size: rem(20);
  @include media($tablet) {
    font-size: rem(26);
  }
}

h3 {
  font-size: rem(24);
}

h4 {
  font-size: rem(20);
}

p {
  font-size: rem(18);
  line-height: 1.5;
}

.wf-loading {
  visibility: hidden;
}
